$dgg:'dggui';
$white: #fff !default;
$gray-100:#333;
$gray-110:#393D49;
$gray-200:#4E5465;
$gray-210:#555;
$gray-300:#666;
$gray-400:#777;
$gray-410:#737383;
$gray-420:#888;
$gray-430:#999;
$gray-440:#9F9F9F;
$gray-500:#b2b2b2;
$gray-600:#C2C2C2;
$gray-610:#C9C9C9;
$gray-620:#ccc;
$gray-700:#d2d2d2;
$gray-710:#d9d9d9;
$gray-800:#e2e2e2;
$gray-810:#e6e6e6;
$gray-820:#e8e8e8;
$gray-830:#eee;
$gray-900:#f0f0f0;
$gray-910:#f2f2f2;
$gray-920:#fbfbfb;
$black:#000;

$green:#009688;
$green-100:#5FB878;
$green-200:#00FF00;

$blue: #2edbb9;
$blue-100:#1E9FFF;
$blue-200:#93D1FF;
$blue-300:#00FFFF;

$red:#FF5722;
$yellow:#FFB800;
$orange:#f8813f;

/*按钮背景色*/
$bg-btn: $orange;
$bg-btn-primary: $white;
$bg-btn-normal: $blue-100;
$bg-btn-warm: $yellow;
$bg-btn-danger: $red;
$bg-btn-disabled: $gray-920;

/*各元素边框颜色*/
$border-btn:$gray-610;
$border-form:$gray-810;
$border-tab:$gray-810;
$border-tab-active:$green-100;
$border-panel:$gray-810;
$border-table:$gray-810;
$border-dialog:$gray-830;
$border-date:$gray-800;
$border-page:$gray-800;



/*默认全局字体颜色*/
$font:$gray-300;
$font-white:$white;
$font-gray:$green-100;

/*背景色*/
$bg-white:#fff;
/*日期控件*/
$dggdate-header-color:$gray-430;
$dggdate-footer-color:$orange;
$dggdate-footer-border:$gray-610;
$dggdate-hint-color:$red;
$dggdate-hint-border:$gray-700;
$dggdate-range-border:$gray-800;
/*日期控件 默认主体*/
$dggdate-default-hint-bg:$white;
$dggdate-default-color:$gray-300;
$dggdate-default-head-color-hover:$orange;
$dggdate-default-mark-bg:$orange;
$dggdate-default-footer-color:$orange;
$dggdate-default-border:$gray-800;
$dggdate-default-th-color:$orange;
$dggdate-default-list-hover-color:$orange;
$dggdate-default-li-hover-bg:#eaeaea;
$dggdate-default-select-bg:$yellow;
$dggdate-default-next-color:$gray-700;
$dggdate-default-next-bg:#f8f8f8;
$dggdate-default-this-bg:$orange;
$dggdate-default-this-color:$white;
$dggdate-default-disabled-color:$gray-700;
/*日期控件 墨绿/自定义背景主体色*/
$dggdate-molv-header-bg:$green;
$dggdate-molv-header-color:#f6f6f6;
$dggdate-molv-header-hover-color:$white;
$dggdate-molv-border:$gray-800;
/*日期控件 格子主题*/
$dggdate-grid-border:$gray-800;
$dggdate-grid-select-hover-bg:$gray-910;
$dggdate-grid-select-hover-color:$green;
$dggdate-grid-next-color:$gray-700;

/*弹窗*/
$layer-bg:$white;
$layer-border:$gray-500;
$layer-border-rgb:$black;
$layer-load-bg:$gray-830;
/*弹窗 标题栏*/
$layer-title-border:$gray-830;
$layer-title-color:$gray-100;
$layer-title-bg:#f8f8f8;
$layer-title-min-bg:#2E2D3C;
$layer-title-min-hover-bg:#2D93CA;
/*弹窗 按钮组*/
$layer-btn-border:#dedede;
$layer-btn-bg:$white;
$layer-btn-color:$gray-100;
$layer-btn0-border:$blue-100;
$layer-btn0-bg:$blue-100;
$layer-btn0-color:$white;
/*弹窗 定制化*/
$layer-rim-border:#8D8D8D;
$layer-rim-rgb-border:$black;
$layer-msg-border:#D3D4D3;
$layer-hui-bg:$black;
$layer-hui-color:$white;
$layer-tip-bg:$black;
$layer-tip-border:$black;
$layer-tip-color:$white;
/*弹窗 skin*/
$layer-lan-color:$white;
$layer-lan-bg:#4476A7;
$layer-lan-border:#E9E7E7;
$layer-lan-a-bg:$white;
$layer-lan-a-color:$gray-100;
$layer-lan-btn1-bg:#C9C5C5;
$layer-molv-title-bg:#009f95;
$layer-molv-title-color:#fff;
$layer-molv-a-bg:#009f95;
$layer-molv-a-border:#009f95;
$layer-molv-btn1-bg:#92B8B1;
/*弹窗 prompt模式*/
$layer-prompt-border:$gray-810;
$layer-prompt-color:$gray-100;
/*弹窗 tab模式*/
$layer-tab-border:$gray-830;
$layer-tab-bg:$white;
/*弹窗 photo模式*/
$layer-photo-bg:$black;
$layer-photo-color:$white;

/*使用浮动过后，清除浮动*/
@mixin clear{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
$font:#333;
//表格\列表的标题、较重要内容小标题
$font-80:#666;
$font-assist:#666;
//$font-80:#808080;
//较弱\无边框按钮文字、说明叙述性文字    例如：排序功能文字
$font-999:#999;
//纯提示性文字     例如：暂无数据等
$font-b3:#b3b3b3;
//导航栏、备注框等深色背景上文字
$font-fff:#fff;
//鼠标hover或active的颜色
$font-active:#ff8b4c;
$font-red:#ff4242;

/*背景色*/
//背景底色
$bg:#e5e5e5;
//列表\表格\板块标题底色、鼠标经过时颜色
$bg-element:#eee;
//系统各板块背景色
$bg-module:$white;
//表单元素背景
$bg-form:#f5f5f5;
$bg-active:#ff8b4c;
$bg-hover:#ff8b4c;

/*线条颜色*/
//内容分割线
$border-content:#f0f0f0;
//表格边框/较重要板块区分线条
$border-element:#ebebeb;
//橙色线条
$border-orange:#ff8b4c;
$border-active:#ff8b4c;
//表单元素边框
$border-form:#e0e0e0;
$border-focus:#ebebeb;
/*使用浮动过后，清除浮动*/
@mixin clear{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
/*常用inline-block 垂直居中法*/
@mixin inline{
  display: inline-block;
  vertical-align: middle;
}
//主题色
$theme:#ff8b4c;
//标记字体颜色
$mark:#f8813f;


// warp 最外层的宽度
$content-warp-padding: 10px 10px 0 0;
